{% extends 'layout.html' %}
{% block scripts %}
    <style>
h2 {
  text-align: left;
  font-weight: 100;
  font-size: 25pt;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.topclass {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.lol {
  overflow: hidden;
  background-color: azure;
  padding: 40px 29px;

}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
h5 {
  font-weight: 200;
  font-size: 20pt;
}

.input-file { 
  position:relative; 
  overflow:hidden;  
  padding:0;
  display:block;
  max-width:100%;
  cursor:pointer;
}

.next {
  background-color: aliceblue;
  color: black;
  
}

.input-file .btn { 
  white-space:nowrap; 
  display:inline-block;
  margin-right:1em;
  vertical-align:top;
}

.input-file .material-icons {
  float:left;
  font-size:16px; 
  line-height:inherit;
  margin-right:4px;
}

.input-file ins { 
  white-space:nowrap; 
  display: block;
  max-width:100%; 
  overflow:hidden; 
  text-overflow:ellipsis; 
  font-size:12px;
}

.input-file:after {
  content:""; 
  display:block; clear:both; 
} 

.input-file input { 
  width:0.1px; 
  height:0.1px;
  opacity:0;
  overflow:hidden;
  position:absolute; 
  top:-100px;
  z-index:-1; 
}


    </style>

	<script type="text/javascript" src="{{ url_for('static', filename = 'Add_item.js') }}"></script>
	<script>
		
	</script>
{% endblock %}
{% block content %}
<br>

<div class="header">
<h2> Please enter the following information </h2>
</div>

<form  action="/index" method="POST" >
  <br>
    <div class="row">
    <div class="col">
      <input type="text" class="form-control" name = "campaign_name" placeholder="Campaign Name">
    </div>
    <div class="col">
      <input type="text" class="form-control" name = "adset_name" placeholder="Adset Name">
    </div>
  </div>

  <br>

    <div class="row">
    <div class="col">
      <input type="text" class="form-control" name = "creative_name" placeholder="Creative Name">
    </div>
    <div class="col">
      <input type="text" class="form-control" name = "ad_name" placeholder="Ad Name">
    </div>
  </div>
<br>
<h5>Targeting </h5>

    <div class="col">
      <input type="text" class="form-control" name = "location" placeholder="Country (Target Location)">
    </div>


  <div class="form-group">
    <label for="exampleFormControlSelect1">Target Gender</label>
    <select class="form-control" placeholder = "Target Gender" name="gender">
      <option>All</option>
      <option>Male</option>
      <option>Female</option>
    </select>
  </div>

    <div class="row">
    <div class="col">
      <input type="text" class="form-control" name = "age_max" placeholder="Age Minimum">
    </div>
    <div class="col">
      <input type="text" class="form-control" name = "age_min" placeholder="Age Maximum">
    </div>
  </div>

<br>
    <div class="form-group">
    <label for="exampleFormControlInput1">Image Path </label>
    <input  class="form-control" name="image_path" placeholder="https://www.facebook.com/TechTutor-113893613377855/?modal=admin_todo_tour','message':'ad here">
  </div>
 
  <button type='submit' class="col-md-4 center btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
  Submit
</button>
</form>

{% endblock %}
